#footer {
    height: 30px;
    margin-bottom: -50px;
    margin-left: 10px;
}

.footer-content {
    font-size: 17px;
    color: #96959c;
    margin: 0px 7px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: 1.25px;
    cursor: default;
}

.git-link:hover {
    color: #37363a
}

.footer-icon {
    margin-left: 10px;
    font-size: 20px;
    position: relative;
    top: 1px;
    color: black;
}
