#footer {
    height: 30px;
    margin-bottom: -50px;
    margin-left: 10px;
}

.git-link {
    font-size: 17px;
    text-decoration: none;
    color: #6d6c72;
    margin: 0px 7px;
    font-family: 'Courier New', Courier, monospace  ;
}

.git-link:hover {
    color: #37363a
}

.fa-github {
    margin-left: 8px;
}
