#footer {
    height: 30px;
    margin-bottom: -50px;
    display: flex;
    align-items: center;
    background-color: black;
}

.footer-content {
    font-size: 17px;
    color: gainsboro;
    margin: 0px 7px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: 1.25px;
    cursor: default;
}

.footer-icon {
    margin-left: 10px;
    font-size: 20px;
    position: relative;
    top: 2.5px;
    color: gainsboro;
}
