/* TODO Add site wide styles */
* {
    box-sizing: border-box;
    font-family: 'Lato';
}

html, body, #root { margin: 0; padding: 0; }

a, a:hover, a:visited, a:active {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.bad-url-catch-header {
    width: 560px;
    margin: 335px auto;
}

.bad-url-home-link {
    color: #8b0000 !important;
}

.bad-url-home-link:hover {
    text-decoration: underline;
}
