#login-form {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#login-form h6 {
    padding: 0;
    margin: 0;
}

#log-in-container {
    display: flex;
    flex-direction: column;
    width: 460px;
    margin: 120px auto 115px auto;
    background-color: rgba(136, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: .7s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#log-in-container button:hover {
    background-color: #68323b;
}

.login-form-input {
    margin: 5px 0px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.25);
    height: 55px;
    padding-left: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.login-form-header {
    font-size: 18px;
    color: #312f2f;
    letter-spacing: 1px;
    margin-top: 40px;
    text-align: center;
}

.login-form-button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: transparent;
    text-decoration: none;
    padding: 8px 12px;
    margin: 5px 0px;
    display: inline-block;
    background-color: #88404d;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 1.5px;
}

#log-in-submit {
    margin: 15px 0 6px 0;
}

.login-form-sign-up-container {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.login-form-sign-up {
    margin: 10px 0 20px 0;
    letter-spacing: 1px;
}

.login-form-sign-up-link {
    color: #880000 !important;
}

.login-form-sign-up-link:hover {
    text-decoration: underline;
}

#demo-link {
    margin-bottom: 30px;
}
