#navbar {
    list-style-type: none;
    padding: 0px;
}

.navlink {
    text-decoration: none;
    padding: 8px 12px;
    margin: 0px 3px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma;
    font-size: 15px;
    height: 34px;
    background-color: #88404d;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    transition: .2s;
}

.navlink:hover {
    background-color: #68323b;
}

.logged-out,
.logged-in,
.profile-dropdown {
    float: right;
}

.profile-dropdown {
    margin: 5px 0px;
    list-style-type: none;
    border: 2px solid #4F3130;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    width: 200px;
    clear: right;
    background-color: #f3efe9;
}

.profile-dropdown li {
    padding: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: flex-start;
}

.profile-dropdown button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    padding: 0px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.profile-dropdown button:hover {
    color: #88404d;
    text-decoration: underline;
    cursor: pointer;
}

#log-in {
    background-color: transparent;
    border: none;
    color: #84828a;
}

#log-in:hover {
    color: #4c4b50;
}
